In [1]:
# text classification 

# sklearn works on numerical data
# data - numeric / categoraical / image / text
# categorical - discrite values 
# converting categorical value into numerical value = encoding 
# apple - 0
# banana - 1

# text data 
# ex: i am enjoying the place and that place is really good
# ex: this hotel is not good 

# techines 
# 1.count vectorizer
# 2.TFIDF vectorizer

In [2]:
s = ['he is going to market',
     'she is going to my shop and then going to meet friend',
     'market is near my shop',
     'he is going to meet his friend and then going to market']

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(s)
print(X.toarray())

[[0 0 1 1 0 1 1 0 0 0 0 0 0 1]
 [1 1 2 0 0 1 0 1 1 0 1 1 1 2]
 [0 0 0 0 0 1 1 0 1 1 0 1 0 0]
 [1 1 2 1 1 1 1 1 0 0 0 0 1 2]]

In [4]:
import pandas as pd
df = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
df

,and,friend,going,he,his,is,market,meet,my,near,she,shop,then,to
0,0,0,1,1,0,1,1,0,0,0,0,0,0,1
1,1,1,2,0,0,1,0,1,1,0,1,1,1,2
2,0,0,0,0,0,1,1,0,1,1,0,1,0,0
3,1,1,2,1,1,1,1,1,0,0,0,0,1,2